<%-include("partials/header.ejs") %>
<div class="container" id="homePage">
  <div class="container-items">
    <div id="headline">
      <h2>Find your alias from <span id="title">  H a r r y P o t t e r.</span></h2>  
    </div>

    <div id="box">
      <form id="nameInput" action="/answer" method="POST">
      
        <input type="name"   id="name" placeholder="Please enter your name">
        <a  href="#" onclick="this.parentNode.submit()">
            <img id="wand" src="/images/wand (1).png" alt="wand"/>
        </a>
      
      </form> 
    </div>
     
 </div>
  
</div>

  
  







<%-include("partials/footer.ejs") %>