body{
  background-color: black;
  color: antiquewhite;
}

a{
  color: antiquewhite;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 24px;
  padding: 24px;
  flex-wrap: wrap;
}